page-detail{
  .upload-btn{
    text-align: center;
    color: #888;
    img{
      width: 80px;
      margin: 0 auto 10px;
      display: block;
    }
    img#uppic{
      width: 300px;
      margin-top: 20px;
    }
  }
  .success{
    background-color: #32db64;
  }
}